body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(97deg, black 15px, transparent 5px) 0px 10px,
    linear-gradient(207deg, black 15px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 5px, transparent 10px),
    linear-gradient(
      black 15%,
      #1a1a1a 45%,
      black 50%,
      transparent 50%,
      transparent 75%,
      black 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  font-family: "DotGothic16", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.weather-details {
  background-color: #8c8f94;
  opacity: 85%;
  max-width: 630px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
}

.search-form-input {
  background-color: #1d1d1d;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px 20px;
  font-size: 18px;
  width: 80%;
}
.search-button {
  background-color: #1d1d1d;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
  width: 18%;
  font-size: 18px;
}
header {
  border-bottom: 2px solid #1d1d1d;
  padding: 30px 0;
}
main {
  padding: 30px;
}
.weather-city {
  margin-top: 0;
  font-size: 50px;
  line-height: 48px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  line-height: 20px;
}
.weather-app-details strong {
  color: white;
}
.weather-container {
  display: flex;
}
.weather-icon {
  size: 100px;
}
.weather-temperature {
  font-size: 88px;
  margin-left: 100px;
}
.weather-unit {
  font-size: 40px;
  margin-top: 7px;
}
a {
  text-decoration: none;
  color: white;
}
footer {
  font-size: 15px;
  text-align: center;
  border-top: 2px solid #1d1d1d;
  padding: 30px;
}
