body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 1px, transparent 5px) 10px 0px,
    linear-gradient(97deg, black 25px, transparent 5px) 0px 10px,
    linear-gradient(207deg, black 25px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 5px, transparent 10px),
    linear-gradient(
      black 15%,
      #1a1a1a 45%,
      black 50%,
      transparent 50%,
      transparent 75%,
      black 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-details {
  background-color: lightgray;
  opacity: 80%;
  max-width: 630px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 15px;
}

.search-form-input {
  background-color: #1d1d1d;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px 20px;
  font-size: 18px;
  width: 80%;
}
.search-button {
  background-color: #1d1d1d;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
  width: 18%;
  font-size: 18px;
}
header {
  border-bottom: 2px solid #1d1d1d;
  padding: 30px 0;
}
main {
  padding: 30px;
}
.weather-city {
  margin-top: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 48px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  line-height: 20px;
  font-size: 15px;
}
.weather-app-details strong {
  color: #1d1d1d;
  font-weight: 600;
}
.weather-container {
  display: block;
}
.weather-icon {
  width: 111px;
  height: 111px;
  margin-top: -30px 0 0 -30px;
  display: block;
}

.weather-temperature {
  font-size: 69px;
  line-height: 111px;
  font-weight: 500;
  display: block;
}
.weather-unit {
  font-size: 40px;
  margin-top: 18px;
  margin-left: 2px;
  display: block;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 99px;
  height: 99px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  margin-top: 0 auto;
  display: block;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 4px;
  margin: 0 auto;
  display: block;
}

img {
  display: block;
  margin-left: 100px;
  float: right;
  width: 200px;
  height: 200px;
}
a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 600;
}
footer {
  font-size: 13px;
  text-align: center;
  border-top: 2px solid #1d1d1d;
  padding: 30px;
}
